div> .searchBox{
    width:70vw;
    height:6.9vh;
    display:flex;
    align-items: center;
   justify-content: center;
   /* margin-top: 20px ; */
   max-width: 100%;
   /* background-color: rgb(231, 231,231);    */
   /*      if we do not give background color then position fixed does not work properly */
   /* position: relative;  
   top: 58%;
   left: 0;  */
   /* transform: translateY(100px); */
}
/* .sInput{
  margin-top: 20px ;
} */
div >.searchBox > input[type="text"] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.637);
    padding: 1vmax 2vmax;
    width: 50%;
    outline: none;
    border-radius: 0%;
    font: 300 1.1vmax cursive;
    box-sizing: border-box;
    height: 8%;
    /* margin-top: 20px ; */
  }
  
 div > .searchBox > button {
    height: 8%;
    border-radius: 0%;
    background-color: rgb(70, 109, 216);
    border: none;
    padding: 1vmax;
    width: 10%;
    font: 300 1.1vmax "Roboto";
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  }
  
 div> .searchBox > button:hover {
    background-color: rgb(55, 97, 214);
  }
  
  @media screen and (max-width: 600px) {
    div> .searchBox{
      margin: 0px auto;
      width:100vw;
    height:6.9vh;
    display:flex;
    align-items: center;
   justify-content: center;
   /* margin-top: 20px ; */
   max-width: 100%;
   /* background-color: rgb(231, 231,231);    */
   /*      if we do not give background color then position fixed does not work properly */
   /* position: absolute;   */
   /* top: -7.5%;
   left: 0;  */
    }
    div > .searchBox > button {
      height: 8%;
      border-radius: 0%;
      background-color: tomato;
      border: none;
      padding: 1vmax;
      width: 10%;
      font: 300 1.4vmax "Roboto";
      cursor: pointer;
      color: white;
      transition: all 0.5s;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
    }
  }
  @media screen and (max-width: 600px){

  }
  