/* @import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap"); */
.loginBody {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  /* background: linear-gradient(45deg, greenyellow, dodgerblue); */
  font-family: "Roboto";
  padding-top:9vh;
}
.center {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
  /* border:2px solid black; */
  box-shadow: 3px 5px 10px 0px #0000004d;
  width:25vw;
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  position: relative;
  width: 95%;
  height: 50px;
  margin-bottom: 50px;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.center .inputbox [type="submit"] {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
  cursor: pointer;
}
.center .inputbox:hover [type="submit"] {
  /* background: linear-gradient(45deg, greenyellow, dodgerblue); */
  background-color: rgb(14, 113, 213);
}
.loginLink{
    display:block;
    /* margin-top:10px; */
    text-decoration: none;
    color: black;
    font-family:  cursive;
}
.loginLink:hover{
    color:rgba(0, 0, 0, 0.671)
}
.eye{
    position: absolute;
    top: 51.5%;
    right: 17%; /* Adjusted for spacing */
    /* transform: translate(0, -50%); */
    cursor: pointer;
  }

  @media screen and (max-width:1200px) {
    .center{
      transform: scale(0.91);
      width: 80%;
    }

  }
  @media screen and (max-width:600px){
    .center{
      transform: scale(0.91);
      width: 100%;
    }
    .eye{
      right: 18%; 
    }
  }