.componentWrapper{
    & *,& *::before,& *:after{
        padding:0;
        margin: 0;
        box-sizing: border-box;
    }
    }
    .head{
        width:99vw;
        height:100vh;
    }

    .background{
        width: 430px;
        height: 520px;
        position: absolute;
        /* background-color: #080710; */
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .background>.shape{
        height:200px;
        width:200px;
        position:absolute;
        border-radius: 50%;
    }
    .shape:first-child{
        background: linear-gradient(
            #1845ad,
            #23a2f6
        );
        left: -114px;
        top: -50px;
    }
    .shape:last-child{
        background: linear-gradient(
            to right,
            #ff512f,
            #f09819
        );
        right: -100px;
        bottom: -100px;
    }
    .loginForm {
    height:540px;
    width:24vw;
    background-color: #080710da;
    position:absolute;
    transform:translate(-50%,-45%);
    top:50%;
    left:50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    }
    .loginForm *{
        font-family: 'Poppins',sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        border: none;
        outline: none;
    }
    .loginForm>h3{
        width: 100%;
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
    }
    label{
        display: block;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
    }
    .Logininput:not(#profile){
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 25px;
        font-size: 14px;
        font-weight: 300;
    }
    ::placeholder{
        color: #e5e5e5;
    }
    .Signupbutton{
        background-color: #fffffff7;
        margin-top: 37px;
        width: 100%;
        color: #080710;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }
    .social{
      margin-top: 30px;
      display: flex;
    }
    .social div{
      background: red;
      width: 150px;
      border-radius: 3px;
      padding: 5px 10px 10px 5px;
      background-color: rgba(255,255,255,0.27);
      color: #eaf0fb;
      text-align: center;
    }
    .social div:hover{
      background-color: rgba(255,255,255,0.47);
    }
    .social .fb{
      margin-left: 25px;
    }
    .loginForm .link{
        display:block;
        margin-top:10px;
        text-decoration: none;
    }
    .link:hover{
        color:rgba(255, 255, 255, 0.7)
    }
    .fp{
    float: right;
    text-decoration: none;
    margin-top: 5px;
    font-size: 12px;
    &:hover{
        color:rgba(255, 255, 255, .8)
    }
    }  
    .pswd{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .pswd svg{
        position: absolute;
        transform: translate(-1.5vmax,-1.3vmax);   
    }
    
    .avtar{
        display:flex;
    }
    .avtar>.img{
        width:3vmax;
        border-radius: 100%;
        position: absolute;
        margin-top: 25px;
    }
    .avtar>input{
        margin-top: 25px;
        display: flex;
        padding: 0px;
        margin-left: 55px;
        transform: translateY(6px);
    }
    .avtar>input::file-selector-button{
    width:100%;
    height:5vh;
    border: none;
    margin:0;
    font: 400 0.8vmax cursive;
    transition: all .5s;
    padding: 0 1vmax;
    color: white;
    background-color: rgba(255,255,255,0.07);
    cursor: pointer;
    }
    .avtar>input::file-selector-button:hover{
        background-color: rgba(255,255,255,0.2); 
    }
    .radioBtn{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 40px;
        font-family: 'Poppins',sans-serif;
    }
    .radioBtn input[type="radio"]{
        display: none;
    }
    .radio{
        position: relative;
        padding-left: 30px;
        margin-right: 40px;
        display: flex;
        align-items: center;
    }
    .radio span{
        height: 20px;
        width:20px;
        border: 3px solid #00aeef;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }
    .radio span::after{
        content: "";
        height:8px;
        width: 8px;
        background:#00aeef;
        display: block;
        position:absolute;
        left: 50%;
        top:50%;
        border-radius:50%;
        transform: translate(-50%,-50%)scale(0);
        transition: 300ms ease-in-out 0s;
    }
    .radio input[type="radio"]:checked ~ span::after{
        transform: translate(-50%,-50%)scale(1);
    }

   

    @media  screen and (max-width:600px) {
        .head{
          overflow: hidden;
        }
        .loginForm{
            scale: 0.7;
             top:35%;
            left:35%; 
            width: 100%;
        }
        .background>.shape{
            display: none;
            height:100px;
            width:100px;
            position:absolute;
            border-radius: 50%;
        }
        .pswd svg{
            position: absolute;
            transform: translate(-3vmax,-2.5vmax);   
        }

    }